
= form_for(@admin, :as => :admin, :url => admins_path, html: { class: "form-inline" }) do |f|

  = devise_errors_for(@admin)

  %fieldset
    %legend New Admin

    = f.email_field :email, class: "input", placeholder: "Email"
    = f.password_field :password, class: "input-medium", placeholder: "Password"
    = f.password_field :password_confirmation, class: "input-medium", placeholder: "Confirm Password"
    = f.button "Create Admin", type: "submit", class: "btn"


%h2
  Admins

%table.table.table-striped.table-bordered
  %tr
    %th Email
    %th
  - @admins.each do |admin|
    %tr
      %td= admin.email
      %td
        - if admin != current_admin
          = link_to "Delete", destroy_admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' }
