= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "form-signin" }) do |f|

  %h2.form-signin-heading Admin Login

  = f.email_field :email, placeholder: "Email", :autofocus => true, class: "input-block-level"
  = f.password_field :password, placeholder: "Password", class: "input-block-level"

  %label.checkbox
    = f.check_box :remember_me
    Remember me

  .clearfix
    = f.button "Sign in", type: "submit", class: "btn btn-large btn-primary pull-left"
    = link_to "Forgot your password?", new_password_path(resource_name), class: "signin-secondary-link pull-left"
