
%h1
  Brigades
  = link_to 'New Brigade', new_brigade_path, method: :get, class: "btn btn-large pull-right"

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Slug
    %th
    %th
    %th

  - @brigades.each do |brigade|
    %tr
      %td= brigade.name
      %td= brigade.slug
      %td= link_to 'Show', brigade
      %td= link_to 'Edit', edit_brigade_path(brigade)
      %td= link_to 'Destroy', brigade, method: :delete, data: { confirm: 'Are you sure?' }
