- content_for(:head) do
  = stylesheet_link_tag "themes/brigades/simple", :media => "all"

= render_head

%body
  .navbar-wrapper
    .container
      .navbar.navbar-inverse
        .navbar-inner
          / %a.bt.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
          /   %span.icon-bar
          /   %span.icon-bar
          /   %span.icon-bar
          = link_to @brigade.name, brigade_home_path(@brigade.slug), class: "brand"
          .nav-collapse.collapse
            %ul.nav
              %li.active= link_to "Home", "#"
              %li= link_to "Events", "#meetup"
              %li= link_to "Contact", "#contact"

            - if admin_signed_in?
              %ul.nav.pull-right
                %li.pull= link_to "Admin", admin_home_path


  .carousel.slide
    .carousel-inner
      .item.active
        = image_tag(@brigade.simple_banner_img_url)
        .container
          .carousel-caption
            %h1= @brigade.simple_banner_header
            %p.lead= @brigade.simple_banner_text
            - unless @brigade.meetup_url.empty?
              = link_to "Stop By Our Meetups", @brigade.meetup_url, target: "_blank", class: "btn btn-large btn-primary"