= render_head

%body
  %header.navbar.navbar-inverse.navbar-fixed-top
    %nav.navbar-inner
      .container
        = link_to yield(:nav_brand_text), yield(:nav_brand_path), class: "brand"
        %ul.nav.pull-right
          - if admin_signed_in?
            %li= link_to "Admin Panel", admin_home_path

  .container
    = render_flash_messages

    = yield

    %footer